<!-- Contact -->
<section id="contact" class="main style3 dark secondary">
	<div class="content">
		<header>
			<h2>Contact</h2>
			{# <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p> #}
		</header>
		<div class="box">
            <div class="card1">
                {{ form.errors }}
                <form data-contact="form" method="POST">
                    {% csrf_token %}
                    <div class="field half first">{{contact_form.name}}</div>
                    <div class="field half">{{contact_form.email}}</div>
                    <div class="field">
						{{contact_form.message}}





						----------------------------------
						Portfolio から送信
					</div>
                    <center>
                        <div class="g-recaptcha" data-sitekey="{{recaptcha.site_key}}"></div>
                    </center>
                    <ul class="actions">
                        <li><input type="submit" class="pyonpyon" value="Send Message" /></li>
                    </ul>
                </form>
            </div>
            <div class="card2">
                <h3 style="padding: 50px 0;font-size: 2.2em;">Complete.</h3>
                <p>Your request has been sent.</p>
                <p>メッセージの送信ありがとうございました。<br>返信が必要な物については、近日中にご入力頂いたアドレスにご連絡致します。</p>
                <p>よろしくお願い致します。</p>
            </div>
		</div>
	</div>
</section>
