<!-- Experience -->
<section id="experience" class="main style3 right dark fullscreen inactive">
	<div class="content">
		<header>
			<h2 style="position:relative;">Work Experience</h2>
		</header>
		<div class="timeline" style="margin-top:200px">
			<h2>2000</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
                        <h3>プログラムとの出会い</h3>
                        <p class="synopsis">
                        高校時代、C言語でプログラムをはじめました
                        </p>
                        <p><br></p>
                        <time>2000.04</time>
					</div>
				</li>
				<!-- left -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>ゲームプログラムはじめました</h3>
						<p class="synopsis">
                        C++でゲームプログラムをはじめました<br>
                        ゲームボーイアドバンスと、プレイステーションのゲームを作りました
						</p>
						<p><br></p>
						<time>2001.04</time>
					</div>
				</li>
			</ul>
			<h2>2005</h2>
			<ul class="timeline-items">
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>ネットワークエンジニア時代</h3>
					<p class="synopsis">
					2年間、ネットワークエンジニアをしていました<br>
					</p>
					<p><br></p>
					<time>2005.04</time>
				</li>
				<!-- center -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>Webの世界へ</h3>
						<p class="synopsis">
							NEをする傍ら、PHPでWebサービスをはじめて作りました<br>
							同時に、VineLinuxでWebサーバも構築しました<br>
							この頃から、自宅でもDebianサーバを運用するようになります
						</p>
						<p><br></p>
						<time>2006.10</time>
						<div style="float:right">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/debian.svg" class="product-logo">
						</div>
					</div>
				</li>
			</ul>
			<h2>2007</h2>
			<ul class="timeline-items">
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>[PG] 全文検索コンテンツ開発</h3>
					<p class="synopsis">
					MySQL+Senna+Mecab構成で、<br>
					全文検索コンテンツを作りました
					</p>
					<p><br></p>
					<div style="float:left">
						<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
					</div>
					<time>2007.06</time>
				</li>
				<!-- left -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>[SE] モバイルポータルサイトCMS開発</h3>
						<p class="synopsis">
						大手モバイル公式サイトのプロジェクトに参画しました<br>
						それなりのアクセス数があったため、輻輳制御を意識したプログラムを作成しました<br>
						</p>
						<p><br></p>
						<time>2007.09</time>
						<div style="float:right">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/postgres.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
						</div>
					</div>
				</li>
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>プロジェクトマネージャになる</h3>
						<p class="synopsis">
                        某航空会社のモバイル公式サイトリニューアルプロジェクトで、<br>
                        はじめて、プロジェクトマネージャとして要件定義～納品まで担当しました
                        </p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
						</div>
						<time>2007.12</time>
					</div>
				</li>
				<!-- right  -->
				<li class="is-hidden timeline-item">
					<h3>[PM] 某小売業のECサイト開発保守</h3>
					<p class="synopsis">
                    日本全国にある、某小売業のECサイト保守を担当しました
					</p>
					<p><br></p>
					<div style="float:right">
						<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/sqlserver.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/postgres.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
					</div>
					<time>2008.04</time>
				</li>
			</ul>
			<h2>2010</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>[SE] コミュニティサイト開発保守</h3>
						<p class="synopsis">
						月2億PVほどある、老舗の結構大きなサイトでした<br>
                        Fluentdでのアクセスログ収集やMySQLレプリケーション/SQL正規化など、<br>
                        ビッグデータの取扱いを学んだプロジェクトでした
						</p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/fluentd.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mongo.svg" class="product-logo">
						</div>
						<time>2010.08</time>
					</div>
				</li>
			</ul>
			<h2>2012</h2>
			<ul class="timeline-items">
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>[SE] サービス業向けWebサイト開発保守</h3>
					<p class="synopsis">
                    CakePHP,FuelPHP,CodeIgnitorなど、様々なフレームワークでWebサイトをたくさん作りました<br>
                    jQueryや、BackboneJSなど、この頃からスマートフォンサイトを中心に、<br>
                    フロントエンドの開発を依頼される事が増えてきました<br>
					</p>
					<p><br></p>
					<div style="float:right">
						<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/cakephp.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/fuelphp.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/codeigniter.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/backbone.svg" class="product-logo">
					</div>
					<time>2012.06</time>
				</li>
				<!-- left  -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>[SE] サービス業向けCMSプラットフォーム開発</h3>
						<p class="synopsis" style="word-wrap: break-word">
                        アプリケーションアーキテクチャ設計から担当して、CIを始め、よりDevOpsを意識したシステムを構築しました<br>
						</p>
						<p><br></p>
						<div style="float:left">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/gcp.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/docker.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/jenkins.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/fluentd.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/composer.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/behat.png.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/backbone.svg" class="product-logo">
						</div>
						<time>2014.04</time>
					</div>
				</li>
			</ul>
			<h2>2017</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>フリーランスエンジニアになる</h3>
						<p class="synopsis">
                        フリーランスエンジニアとして活動を開始しました
						</p>
						<p><br></p>
						<time>2017.03</time>
					</div>
				</li>
				<!-- left  -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>[SE] サービス業向けシステム開発</h3>
						<p class="synopsis">
						</p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/fuelphp.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/socket-io.svg" class="product-logo">
						</div>
						<time>2017.04</time>
					</div>
				</li>
			</ul>
		</div>
		<footer>
			{# <a href="#contact" class="button style2 down">More</a> #}
		</footer>
	</div>
</section>

