<!-- Experience -->
<section id="experience" class="main style3 right dark fullscreen inactive">
	<div class="content">
		<header>
			<h2 style="position:relative;">Work Experience</h2>
		</header>
		<div class="timeline" style="margin-top:200px">
			<h2>2000</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
                        <h3>プログラムとの出会い</h3>
                        <p class="synopsis">
                        高校時代、C言語でプログラムをはじめる
                        </p>
                        <p><br></p>
                        <time>2000.04</time>
					</div>
				</li>
				<!-- left -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>ゲームプログラムはじめました</h3>
						<p class="synopsis">
							C++でゲームプログラムをはじめる
						</p>
						<p><br></p>
						<time>2001.04</time>
					</div>
				</li>
			</ul>
			<h2>2005</h2>
			<ul class="timeline-items">
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>ネットワークエンジニア時代</h3>
					<p class="synopsis">
					2年間、ネットワークエンジニアをしていました<br>
					</p>
					<p><br></p>
					<time>2005.04</time>
				</li>
				<!-- center -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>Webの世界へ</h3>
						<p class="synopsis">
							NEをする傍ら、PHPでWebサービスをはじめて作りました<br>
							同時に、VineLinuxでWebサーバを構築<br>
							その後、自宅でもDebianサーバを運用するようになります
						</p>
						<p><br></p>
						<time>2006.10</time>
						<div style="float:right">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/debian.svg" class="product-logo">
						</div>
					</div>
				</li>
			</ul>
			<h2>2007</h2>
			<ul class="timeline-items">
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>全文検索コンテンツ開発[PG]</h3>
					<p class="synopsis">
					商品検索コンテンツを作りました
					MySQL+Senna+Mecab構成<br>
					</p>
					<p><br></p>
					<div style="float:left">
						<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/centos.svg" class="product-logo">
					</div>
					<time>2007.06</time>
				</li>
				<!-- left -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>モバイルポータルサイトCMS開発[SE]</h3>
						<p class="synopsis">
						誰もが知っている、大手のモバイルサイトのプロジェクトに参画しました<br>
						</p>
						<p><br></p>
						<time>2007.09</time>
						<div style="float:right">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/postgres.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/centos.svg" class="product-logo">
						</div>
					</div>
				</li>
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>航空会社のモバイル公式サイトリニューアル[PM]</h3>
						<p class="synopsis">
						はじめてプロジェクトマネージャになりました
						</p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/centos.svg" class="product-logo">
						</div>
						<time>2007.12</time>
					</div>
				</li>
				<!-- right  -->
				<li class="is-hidden timeline-item">
					<h3>小売業のECサイト開発保守[PM]</h3>
					<p class="synopsis">
					前任の退職後、PMを引き継ぎました
					</p>
					<p><br></p>
					<div style="float:right">
						<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/sqlserver.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/postgres.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/centos.svg" class="product-logo">
					</div>
					<time>2008.04</time>
				</li>
			</ul>
			<h2>2010</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>コミュニティサイト開発保守[SE]</h3>
						<p class="synopsis">
						月2億PVほどある、結構大きなサイトでした<br>
						この頃から、スマートフォンサイトが増えてきました
						</p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/centos.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/fluentd.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mongo.svg" class="product-logo">
						</div>
						<time>2010.08</time>
					</div>
				</li>
			</ul>
			<h2>2012</h2>
			<ul class="timeline-items">
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>サービス業向けWebサイト開発保守[SE]</h3>
					<p class="synopsis">
                    CakePHP,FuelPHP,CodeIgnitorでサイトをたくさん作りました<br>
					jQueryや、BackboneJSなど、この頃から<br>
					フロントエンドの仕事が増えてきました<br>
					</p>
					<p><br></p>
					<div style="float:right">
						<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/centos.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/cakephp.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/fuelphp.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/codeigniter.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/backbone.svg" class="product-logo">
					</div>
					<time>2012.06</time>
				</li>
				<!-- left  -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>サービス業向けCMS開発[SE]</h3>
						<p class="synopsis">
						インフラはクラウドへ<br>
						GoogleCloudPlatform,Docker,Jenkins,Composer,Seleniumなど<br>
						DevOpsを意識したシステムを設計しました
						</p>
						<p><br></p>
						<div style="float:left">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/centos.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/gcp.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/docker.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/jenkins.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/fluentd.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/composer.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/behat.png.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/backbone.svg" class="product-logo">
						</div>
						<time>2014.04</time>
					</div>
				</li>
			</ul>
			<h2>2017</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>フリーランスエンジニアとして活動開始</h3>
						<p class="synopsis">
						</p>
						<p><br></p>
						<time>2017.03</time>
					</div>
				</li>
				<!-- left  -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>サービス業向けシステム開発[SE]</h3>
						<p class="synopsis">
						</p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/fuelphp.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/socket-io.svg" class="product-logo">
						</div>
						<time>2017.04</time>
					</div>
				</li>
			</ul>
		</div>
		<footer>
			{# <a href="#contact" class="button style2 down">More</a> #}
		</footer>
	</div>
</section>

