<!-- Experience -->
<section id="experience" class="main style3 right dark fullscreen inactive">
	<div class="content">
		<header>
			<h2 style="position:relative;">Work Experience</h2>
		</header>
		<div class="timeline" style="margin-top:200px">
			<h2>2000</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
                        <h3>プログラムとの出会い</h3>
                        <p class="synopsis">
                        高校当時読んだゲーム制作の本に書かれていた、「ゲームプログラムをするならC言語をはじめよう」という岡本吉起氏のメッセージを見て、C言語を始めました
                        </p>
                        <p><br></p>
                        <time>2000.04</time>
					</div>
				</li>
				<!-- left -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>ゲームプログラムはじめました</h3>
						<p class="synopsis">
                        その後、C++とJavaでゲームプログラムをはじめました<br>
                        ゲームボーイアドバンスと、プレイステーションの簡単なゲームを作りました<br>
						</p>
						<p><br></p>
						<time>2001.04</time>
					</div>
				</li>
			</ul>
			<h2>2005</h2>
			<ul class="timeline-items">
				<!-- center -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
					    <h3>ネットワークエンジニア時代</h3>
						<p class="synopsis">
                            社会に出てから2年ほど、ネットワークエンジニアをしていました。<br>
                            当時はISDNが主流でADSLへのリプレイスをしたり、IT資産全般の管理を行っていました<br>
						</p>
						<p><br></p>
					    <time>2005.04</time>
					</div>
				</li>
				<!-- center -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>Webの世界へ</h3>
						<p class="synopsis">
							NEをする傍ら、PHPでWebサービスをはじめて作りました<br>
							同時に、VineLinuxでWebサーバも構築しました<br>
							この頃からLinuxが好きになり、自宅でDebianサーバの運用を始めました
						</p>
						<p><br></p>
						<time>2006.10</time>
						<div style="float:right">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/debian.svg" class="product-logo">
						</div>
					</div>
				</li>
			</ul>
			<h2>2007</h2>
			<ul class="timeline-items">
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>全文検索コンテンツ開発</h3>
					<p class="synopsis">
                    MySQL+Senna+Mecab構成で、全文検索コンテンツを作りました<br>
					</p>
					<p><br></p>
					<div style="float:left">
						<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
					</div>
					<time>2007.06</time>
				</li>
				<!-- center -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>モバイルポータルサイトCMS開発</h3>
						<p class="synopsis">
                            某大手3キャリアの、モバイル公式サイトのプロジェクトに参画しました<br>
                            管理画面側をまるっと担当しました<br>
						</p>
						<p><br></p>
						<time>2007.09</time>
						<div style="float:right">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/postgres.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
						</div>
					</div>
				</li>
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>プロジェクトマネージャになりました</h3>
						<p class="synopsis">
                        某航空会社のモバイル公式サイトリニューアルプロジェクトで、はじめてプロジェクトマネージャになりました
                        </p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
						</div>
						<time>2007.12</time>
					</div>
				</li>
				<!-- right  -->
				<li class="is-hidden timeline-item">
					<h3>某小売業のECサイト開発保守</h3>
					<p class="synopsis">
                        この頃もプロジェクトマネージャをしていました<br>
                        大手の品質管理技術を、元請けのSIさんから学びました<br>
                        後に、<a href="http://juse.or.jp/sqip/jcsqe/result1.html#13" target="_blank">JCSQE</a>を取得するきっかけになりました<br>
					</p>
					<p><br></p>
					<div style="float:right">
						<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/sqlserver.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/postgres.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
					</div>
					<time>2008.04</time>
				</li>
			</ul>
			<h2>2010</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>コミュニティサイト開発保守</h3>
						<p class="synopsis">
						月2億PVほどある、老舗の結構大きなサイトでした<br>
                        Fluentdでのアクセスログ収集やMySQLレプリケーション/SQL正規化など、<br>
                        アクセスの多いサイトの取扱いを色濃く学んだプロジェクトでした<br>
						</p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/fluentd.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mongo.svg" class="product-logo">
						</div>
						<time>2010.08</time>
					</div>
				</li>
			</ul>
			<h2>2012</h2>
			<ul class="timeline-items">
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>サービス業向けWebサイト開発保守</h3>
					<p class="synopsis">
					</p>
					<p><br></p>
					<div style="float:right">
						<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/cakephp.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/fuelphp.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/codeigniter.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/backbone.svg" class="product-logo">
					</div>
					<time>2012.06</time>
				</li>
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>コミュニティサイト開発保守</h3>
						<p class="synopsis">
                        アプリケーションのアーキテクチャ設計から担当し、CIを始め、よりDevOpsを意識したシステムを構築しました<br>
                        この頃からインフラもクラウドへ移行し、GCP利用前提でインフラ設計を行いました<br>
						</p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/centos.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/gcp.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/docker.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/jenkins.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/fluentd.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/composer.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/behat.png.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/backbone.svg" class="product-logo">
						</div>
						<time>2014.04</time>
					</div>
				</li>
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>ソフトウェア品質技術者資格取得</h3>
						<p class="synopsis">
                        個人的に関心の高かったソフトウェア品質の分野の資格(JCSQE)を取得しました<br>
                        <a href="http://juse.or.jp/sqip/jcsqe/result1.html#13" target="_blank">合格者一覧ページ</a>
                        </p>
						<p><br></p>
						<time>2014.11</time>
					</div>
				</li>
			</ul>
			<h2>2017</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>フリーランスエンジニアになる</h3>
						<p class="synopsis">
                        フリーランスエンジニアとして活動を開始しました
						</p>
						<p><br></p>
						<time>2017.03</time>
					</div>
				</li>
				<!-- left  -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>サービス業向けシステム開発</h3>
						<p class="synopsis">
						</p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/fuelphp.svg" class="product-logo">
							<img src="/static/portfolio/assets/img/logo/socket-io.svg" class="product-logo">
						</div>
						<time>2017.04</time>
					</div>
				</li>
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>データ解析ツールのパフォーマンス改善</h3>
					<p class="synopsis">
                    巨大なTSVファイル(300GB)のデータ解析をするツールの速度改善と自動化を行いました<br>
					</p>
					<p><br></p>
					<div style="float:right">
						<img src="/static/portfolio/assets/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/redis.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/docker.svg" class="product-logo">
						<img src="/static/portfolio/assets/img/logo/jenkins.svg" class="product-logo">
					</div>
					<time>2017.10</time>
				</li>
			</ul>
			<h2>2018</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>某ビッグデータのベンチマーク計測</h3>
						<p class="synopsis">
                        数十億レコードある某ビッグデータのベンチマークを行いました<br>
                        データ領域はHadoop(HDFS)で、クエリエンジンにはApache Drillを使用しました<br>
						</p>
						<p><br></p>
                        <div style="float:right">
                            <img src="/static/portfolio/assets/img/logo/hadoop.svg" class="product-logo">
                            <img src="/static/portfolio/assets/img/logo/drill.svg" class="product-logo">
                        </div>
						<time>2018.01</time>
					</div>
				</li>
			</ul>
		</div>
		<footer>
			{# <a href="#contact" class="button style2 down">More</a> #}
		</footer>
	</div>
</section>

