{% extends "layout/base.html" %}
{% load filter %}

{% block title %}Top {{ block.super }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{"/static/portfolio/contact/bundle.css"|ts}}" />
{% endblock %}

{% block content %}

{% include "./intro.html" %}

{% include "./profile.html" %}

{% include "./experience.html" %}

{# {% include "./product.html" %} #}

{% include "./contact.html" %}

{% endblock %}

{% block js %}
    <script src={{"/static/portfolio/contact/bundle.js"|ts}}></script>
{% endblock %}

