{% extends "layout/base.html" %}

{% block title %}Top {{ block.super }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/portfolio/contact/bundle.css" />
{% endblock %}

{% block content %}

{% include "./intro.html" %}

{% include "./profile.html" %}

{% include "./experience.html" %}

{# {% include "./product.html" %} #}

{% include "./contact.html" %}

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="/static/portfolio/contact/bundle.js"></script>
{% endblock %}

