{% extends "layout/base.html" %}

{% block title %}test {{ block.super }}{% endblock %}

{% block content %}
<!-- Intro -->
<section id="intro" class="main style1 dark fullscreen">
	<div class="content">
		<header>
			<h2>{{title}}</h2>
		</header>
		<footer>
			{# <a href="#profile" class="button style2 down">More</a> #}
		</footer>
	</div>
</section>

<!-- Profile -->
<section id="profile" class="main style1 right dark fullscreen inactive">
	<div class="content">
		<header>
			<h2>Profile</h2>
		</header>
		<div class="box">
			<img src="/static/portfolio/img/nobiki.jpg" style="width:"><br>
            Naoaki Obiki
			<p>is</p>
			<strong><span id="js-rotating">LAMP Server-Side,Web Front-End,Linux Infrastructure</span></strong> Engineer
			<p><br></p>
			<p>Live in Osaka, Japan.</p>
			<p>Qualified as <a href="http://juse.or.jp/sqip/jcsqe/result1.html#13" target="_blank"><img src="/static/portfolio/img/logo/jcsqe.jpg" style="height:40px;vertical-align:middle"></a></p>
			<p><br></p>
			<p>Other activity</p>
			<p>
				<a href="https://github.com/nobiki" target="_blank">Github</a>,
				<a href="https://bitbucket.org/nobiki/" target="_blank">Bitbucket</a>,
				<a href="https://twitter.com/_nobiki" target="_blank">Twitter</a>,
				<a href="https://hub.docker.com/u/nobiki/" target="_blank">DockerHub</a>,
				<a href="https://www.strava.com/athletes/11824800" target="_blank">Strava</a>
			</p>
		</div>
		<footer>
			<a href="#experience" class="button style2 down">More</a>
		</footer>
	</div>
</section>

<!-- History -->
<section id="experience" class="main style3 right dark fullscreen inactive">
	<div class="content">
		<header>
			<h2 style="position:relative;font-size:4.25em;line-height:1em;">Work Experience</h2>
		</header>
		<div class="timeline" style="margin-top:200px">
			<h2>2000</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
                        <h3>プログラムとの出会い</h3>
                        <p class="synopsis">
                        高校時代、C言語でプログラムをはじめる
                        </p>
                        <p><br></p>
                        <time>2000.04</time>
					</div>
				</li>
				<!-- left -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>ゲームプログラムはじめました</h3>
						<p class="synopsis">
							C++でゲームプログラムをはじめる
						</p>
						<p><br></p>
						<time>2001.04</time>
					</div>
				</li>
			</ul>
			<h2>2005</h2>
			<ul class="timeline-items">
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>ネットワークエンジニア時代</h3>
					<p class="synopsis">
					2年間、ネットワークエンジニアをしていました<br>
					</p>
					<p><br></p>
					<time>2005.04</time>
				</li>
				<!-- center -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>Webの世界へ</h3>
						<p class="synopsis">
							NEをする傍ら、PHPでWebサービスをはじめて作りました<br>
							同時に、VineLinuxでWebサーバを構築<br>
							その後、自宅でもDebianサーバを運用するようになります
						</p>
						<p><br></p>
						<time>2006.10</time>
						<div style="float:right">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/linux.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/debian.svg" class="product-logo">
						</div>
					</div>
				</li>
			</ul>
			<h2>2007</h2>
			<ul class="timeline-items">
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>全文検索コンテンツ開発[PG]</h3>
					<p class="synopsis">
					商品検索コンテンツを作りました
					MySQL+Senna+Mecab構成<br>
					</p>
					<p><br></p>
					<div style="float:left">
						<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/linux.svg" class="product-logo">
					</div>
					<time>2007.06</time>
				</li>
				<!-- left -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>モバイルポータルサイトCMS開発[SE]</h3>
						<p class="synopsis">
						誰もが知っている、大手のモバイルサイトのプロジェクトに参画しました<br>
						</p>
						<p><br></p>
						<time>2007.09</time>
						<div style="float:right">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/postgres.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/linux.svg" class="product-logo">
						</div>
					</div>
				</li>
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>航空会社のモバイル公式サイトリニューアル[PM]</h3>
						<p class="synopsis">
						はじめてプロジェクトマネージャになりました
						</p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/linux.svg" class="product-logo">
						</div>
						<time>2007.12</time>
					</div>
				</li>
				<!-- right  -->
				<li class="is-hidden timeline-item">
					<h3>小売業のECサイト開発保守[PM]</h3>
					<p class="synopsis">
					前任の退職後、PMを引き継ぎました
					</p>
					<p><br></p>
					<div style="float:right">
						<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/sqlserver.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/postgres.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/linux.svg" class="product-logo">
					</div>
					<time>2008.04</time>
				</li>
			</ul>
			<h2>2010</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>コミュニティサイト開発保守[SE]</h3>
						<p class="synopsis">
						月2億PVほどある、結構大きなサイトでした<br>
						この頃から、スマートフォンサイトが増えてきました
						</p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/linux.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/fluentd.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mongo.svg" class="product-logo">
						</div>
						<time>2010.08</time>
					</div>
				</li>
			</ul>
			<h2>2012</h2>
			<ul class="timeline-items">
				<!-- right  -->
				<li class="is-hidden timeline-item inverted">
					<h3>サービス業向けWebサイト開発保守[SE]</h3>
					<p class="synopsis">
					jQueryや、BackboneJSなど、この頃から<br>
					フロントエンドの仕事が増えてきました<br>
					</p>
					<p><br></p>
					<div style="float:right">
						<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/linux.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/cakephp.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/fuelphp.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/codeigniter.svg" class="product-logo">
						<img src="/static/portfolio/img/logo/backbone.svg" class="product-logo">
					</div>
					<time>2012.06</time>
				</li>
				<!-- left  -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>サービス業向けCMS開発[SE]</h3>
						<p class="synopsis">
						インフラはクラウドへ<br>
						GoogleCloudPlatform,Docker,Jenkins,Composer,Seleniumなど<br>
						DevOpsを意識したシステムを設計しました
						</p>
						<p><br></p>
						<div style="float:left">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/composer.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/behat.png.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/gcp.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/fluentd.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/jenkins.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/docker.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/backbone.svg" class="product-logo">
						</div>
						<time>2014.04</time>
					</div>
				</li>
			</ul>
			<h2>2017</h2>
			<ul class="timeline-items">
				<!-- center  -->
				<li class="is-hidden timeline-item centered">
					<div style="margin-left: 12px">
						<h3>フリーランスエンジニアとして活動開始</h3>
						<p class="synopsis">
						</p>
						<p><br></p>
						<time>2017.03</time>
					</div>
				</li>
				<!-- left  -->
				<li class="is-hidden timeline-item">
					<div style="margin-left: 12px">
						<h3>サービス業向けシステム開発[SE]</h3>
						<p class="synopsis">
						</p>
						<p><br></p>
						<div style="float:right">
							<img src="/static/portfolio/img/logo/php.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/mysql.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/fuelphp.svg" class="product-logo">
							<img src="/static/portfolio/img/logo/socket-io.svg" class="product-logo">
						</div>
						<time>2017.04</time>
					</div>
				</li>
			</ul>
		</div>
		<footer>
			{# <a href="#contact" class="button style2 down">More</a> #}
		</footer>
	</div>
</section>

<!-- Work -->
<section id="product" class="main style3 fullscreen">
	<div class="content">
		<header>
			<h2 style="color:white">Product</h2>
		</header>

		<div class="swiper-container">
			<div class="swiper-wrapper">

				<div class="swiper-slide">
                    <div class="production group">
                        <div class="col span_3_of_3">
                            <div class="prod-content">
                                <div class="prod-title">
                                    <h2>7me</h2>
                                </div>
                                <div class="prod-body">
                                    <p>
									技術ネタを中心に、日々の出来事を綴っています<br>
									サイト更新にはJenkinsを、ページ生成にはpandocを使用しています<br>
									</p>
                                </div>
                                <div class="prod-more">
                                    <a href="https://7me.oji.0j0.jp/" target="_blank">7me.oji.0j0.jp</a>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>

				<div class="swiper-slide">
                    <div class="production group">
                        <div class="col span_3_of_3">
                            <div class="prod-content">
                                <div class="prod-title">
                                    <h2>9zilla</h2>
                                </div>
                                <div class="prod-body">
                                    <p>
									開発環境の構築にかかるコストを抑えたい、という思いから作りました<br>
									開発環境のDockernizeを行い、DockerHubで公開しています<br>
									</p>
                                </div>
                                <div class="prod-more">
                                    <a href="https://hub.docker.com/u/nobiki/" target="_blank">DockerHub</a>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>

			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-scrollbar"></div>

		</div>
	</div>
</section>


<!-- Contact -->
<section id="contact" class="main style3 secondary">
	<div class="content">
		<header>
			<h2>Contact</h2>
			{# <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p> #}
		</header>
		<div class="box">
            {{ form.errors }}
            <form method="POST">
                {% csrf_token %}
                <div class="field half first">{{contact_form.name}}</div>
                <div class="field half">{{contact_form.email}}</div>
                <div class="field">{{contact_form.message}}</div>
                <ul class="actions">
                    <li><input type="submit" class="pyonpyon" value="Send Message" /></li>
                </ul>
            </form>
		</div>
	</div>
</section>

{% endblock %}
