<!-- Profile -->
<section id="profile" class="main style1 right dark fullscreen inactive">
	<div class="content">
		<header>
			<h2>Profile</h2>
		</header>
		<div class="box">
			<img src="/static/portfolio/img/nobiki.jpg" style="width:"><br>
            Naoaki Obiki
			<p>is</p>
			<strong><span id="js-rotating">LAMP Server-Side,Web Front-End,Linux Infrastructure</span></strong> Engineer
			<p><br></p>
			<p>Activity</p>
            <p style="margin-top: 8px">
            <a href="https://github.com/nobiki" target="_blank"><img src="/static/portfolio/img/logo/github.svg" class="product-logo" style="margin-right: 12px"></a>
            <a href="https://bitbucket.org/nobiki/" target="_blank"><img src="/static/portfolio/img/logo/bitbucket.svg" class="product-logo" style="margin-right: 12px"></a>
            <a href="https://twitter.com/_nobiki" target="_blank"><img src="/static/portfolio/img/logo/twitter.svg" class="product-logo" style="margin-right: 12px"></a>
            <a href="https://hub.docker.com/u/nobiki/" target="_blank"><img src="/static/portfolio/img/logo/docker.svg" class="product-logo" style="margin-right: 12px"></a>
            <a href="https://www.strava.com/athletes/11824800" target="_blank"><img src="/static/portfolio/img/logo/strava.svg" class="product-logo" style="margin-right: 12px"></a>
            </p>
			<p><br></p>
			<p>
                Live in Osaka, Japan.
                Qualified as <a href="http://juse.or.jp/sqip/jcsqe/result1.html#13" target="_blank"><img src="/static/portfolio/img/logo/jcsqe.jpg" style="height:30px;vertical-align:middle"></a>
            </p>
		</div>
		<footer>
			<!-- <a href="#product" class="button style2 down">More</a> -->
		</footer>
	</div>
</section>

<section id="profile-waka1" class="main style2 right dark fullscreen">
    <div class="content box style2">
        <header>
            <h2>Languages</h2>
            <p>Languages over Last 30 Days. <a href="http://wakatime.com" target="_blank"><img src="/static/portfolio/img/logo/wakatime.svg" class="product-logo" style="vertical-align:middle"></a></p>
        </header>
        <figure>
            <embed style="height:450px;width:100%" src="https://wakatime.com/share/@608a06e1-4f8f-4a57-893e-07c06958fb3e/6d466267-3e77-42da-b804-341fde781ddc.svg"></embed>
        </figure>
    </div>
</section>

<section id="profile-waka2" class="main style2 right dark fullscreen">
    <div class="content box style2">
        <header>
            <h2>Editor & OS</h2>
            <p>Editor: <a href="http://www.vim.org/" style="text-decoration:none" target="_blank">Vim</a> / OS: <a href="https://github.com/nobiki/9zilla" style="text-decoration:none" target="_blank">9zilla</a>(Debian)</p>
        </header>
        <figure><embed style="height:450px" src="https://wakatime.com/share/@608a06e1-4f8f-4a57-893e-07c06958fb3e/4e3370d3-48d9-444b-946e-2b34b665b3ac.svg"></embed></figure>
        <figure><embed style="height:450px" src="https://wakatime.com/share/@608a06e1-4f8f-4a57-893e-07c06958fb3e/8352b6b1-0b5b-409e-bca7-2d74a8fbd924.svg"></embed></figure>
    </div>
</section>
