.envrc

# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
nobiki/static/

### Node ###
node_modules/

# End of https://www.gitignore.io/api/django
