{% load filter %}

<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %} | Naoaki Obiki's Portfolio {% endblock %}</title>
        {% block meta %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock %}
        {% block css %}
        <link rel="stylesheet" href="{{"/static/common/bundle.css"|ts}}">
        {% endblock %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        <!-- Header -->
        <header id="header">
        {% block header %}
        <h1><a href="/">{{name}}</a></h1>
            <nav>
                <ul>
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#experience">Work Experience</a></li>
                    {# <li><a href="#product">Product</a></li> #}
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        {% endblock %}
        </header>

        {% block content %}{% endblock %}

        <!-- Footer -->
        <footer id="footer">
        {% block footer %}
            <!-- Icons -->
            <ul class="actions">
				<p style=" font-size: 12px; color: white; height: 29px; margin-top: -22px;">This site on powered by</p>
				<li>
					<img src="/static/portfolio/assets/img/logo/django.svg" class="product-logo" style="vertical-align:middle" alt="This site is Django Web Application.">
					<img src="/static/portfolio/assets/img/logo/webpack.svg" class="product-logo" style="vertical-align:middle" alt="Front-End built by Webpack">
					<img src="/static/portfolio/assets/img/logo/jenkins.svg" class="product-logo" style="vertical-align:middle" alt="Deployment by Jenkins.">
					<img src="/static/portfolio/assets/img/logo/docker.svg" class="product-logo" style="vertical-align:middle" alt="Infrastructure by Docker.">
				</li>
				<li>
					<p style=" font-size: 12px; height: 29px; margin-top: -22px;">
						<a href="https://github.com/nobiki/portfolio" target="_blank">Source</a>
					</p>
				</li>
            </ul>
            <!-- Menu -->
            <ul class="menu">
				<li style="color: white;">&copy; {{title}}</li>
            </ul>
        {% endblock %}
        </footer>
        {% block js %}
        <script src="{{"/static/common/bundle.js"|ts}}"></script>
        {% endblock %}
		{% block ana %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-24225693-5', 'auto');
		  ga('send', 'pageview');

		</script>
        {% endblock %}
    </body>
</html>
