/* Animation */
@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

html, body, #app {
  height: 100%;
}

/* Header */
#nav {
  font-family: Source Sans Pro, "sans-serif";
  font-weight: bold;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  height: 3em;
  line-height: 3em;
  box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
}

#nav h1 {
  position: absolute;
  left: 1em;
  top: 0;
  height: 3em;
  line-height: 3em;
  cursor: default;
}

#nav h1 a {
  font-size: 1.25em;
}

#nav nav {
  position: absolute;
  right: 0.5em;
  top: 0;
  height: 3em;
  line-height: 3em;
}

#nav nav ul {
  margin: 0;
}

#nav nav ul li {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.9em;
}

#nav nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  height: 3em;
  line-height: 3em;
  padding: 0 0.5em 0 0.5em;
  outline: 0;
}

/* Intro */
#header {
  min-height: 100%;
  padding-bottom: 3em;
  animation: huerotator 120s infinite alternate;
  background: #4568dc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #b06ab3, #4568dc);
  /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
  user-select: none;
  /* css3 */
  -moz-user-select: none;
  /* firefox */
  -webkit-user-select: none;
  /* safari、chromeなど */
  -ms-user-select: none;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Parallax */
.parallax-page {
  box-sizing: border-box;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.img-bg-01 {
  background-image: url("/images/bg1.jpg");
}
.img-bg-02 {
  background-image: url("/images/bg4.jpg");
}
.img-bg-03 {
  background-image: url("/images/bg1.jpg");
}
.img-bg-04 {
  background-image: url("/images/bg4.jpg");
}
.img-bg-05 {
  background-image: url("/images/bg1.jpg");
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
